In [3]:
import numpy as np
import pandas as pd
import os

In [4]:
# Choose copula by AIC

result_names = ['BBT_Tiingo',
                'BBT_future_Tiingo_ada', 
                'BBT_future_Tiingo_eth',
                'BBT_future_Tiingo_ltc',
                'BBT_future_Tiingo_xrp',
                'BBT_future_BITX',
                'BBT_future_BITW20', 
                'BBT_future_BITW70', 
                'BBT_future_BITW100', 
                'BBT_future_CRIX']

# result_names = ['BBT_future_CRIX']

coin_names = ['btc', 'ada', 'eth', 'ltc', 'xrp',
              'BITX', 'BITW20', 'BITW70', 'BITW100', 'CRIX']

result_coin_mapper = dict(zip(result_names, coin_names))

# l = pd.read_json('../../results/BBT_future_Tiingo_ada/MM/likelihood.json') # likelihood 
l = pd.read_json('../../results/BBT_future_CRIX/MM/likelihood.json') # likelihood 
# l *= 300 # 300 data points
# l = l.iloc[[0,1,3,4,5,6,7]] #remove t copula capped

In [12]:
coin_names[0].lower()

'btc'

In [95]:
# pd.read_csv('../../_mathematica/data_%s/LL_NIG_%s.csv'%(coin_names[0].lower(), coin_names[0].lower()))
# print(
# '../../_mathematica/data_%s/LL_NIG_%s.csv'%(coin_names[0].lower(), 
#                                             coin_names[0].lower())
# )
for i in range(len(result_names)):
    print(result_names[i])
    LL = pd.read_json('../../results/%s/MM/likelihood.json'%result_names[i]) # likelihood 
    
    # drop previously added NIG row
    try:
        LL=LL.drop('NIG')
    except:
        pass
    
    NIG_path = '../../_mathematica/data_%s/'%coin_names[i].lower()

    ls = os.listdir(NIG_path)
    for file in ls:
        if file.startswith('LL_NIG'):
            LL_NIG = pd.read_csv(NIG_path+file)
            LL_NIG.columns = ['file_name', 'NIG', 'mean LL']
            LL_NIG = LL_NIG.iloc[:,:2]
            LL_NIG.file_name = LL_NIG.file_name.apply(lambda x: str(x)+'.csv')
            LL_NIG = LL_NIG.set_index('file_name').T

    LL = LL.append(LL_NIG)
    LL.to_json('../../results/%s/MM/likelihood_NIG.json'%result_names[i])

BBT_Tiingo
BBT_future_Tiingo_ada
BBT_future_Tiingo_eth
BBT_future_Tiingo_ltc
BBT_future_Tiingo_xrp
BBT_future_BITX
BBT_future_BITW20
BBT_future_BITW70
BBT_future_BITW100
BBT_future_CRIX

In [97]:
LL

,83.csv,68.csv,6.csv,54.csv,40.csv,41.csv,7.csv,55.csv,69.csv,82.csv,...,9.csv,8.csv,72.csv,66.csv,70.csv,64.csv,58.csv,59.csv,65.csv,71.csv
Gaussian,352.984944,368.026153,383.763538,470.271087,446.845920,414.911831,359.697681,462.226129,358.869987,307.547198,...,320.468191,371.528430,344.238344,397.167990,350.340263,417.734046,430.723524,389.668790,407.939943,344.135727
t_Copula,359.169677,443.030447,503.883179,476.479413,560.644435,551.263905,504.571491,468.842122,403.217371,394.848372,...,498.671353,508.371406,433.101943,451.175159,437.860630,423.679747,498.485024,474.920595,451.925216,433.933218
t_Copula_Capped,359.169675,442.074074,500.994537,476.479412,550.246670,540.409934,500.975670,468.842116,426.613934,390.326890,...,494.356969,505.818405,427.256670,451.175166,432.411359,423.679747,493.029284,467.722969,451.925210,428.049679
Clayton,-756.917647,-952.221265,-14640.785273,-685.843378,-4366.445282,-7112.210405,-14962.963657,-725.331862,-954.997028,-1701.157575,...,-10005.668998,-14642.647011,-926.383517,-742.485551,-874.328643,-672.853559,-1507.986557,-781.481128,-838.271935,-911.744940
Frank,218.820694,317.763737,422.499847,410.340463,470.066795,461.341253,428.304135,399.376909,308.457960,238.870183,...,438.882453,438.602398,286.180863,345.624825,294.995239,350.424294,392.611535,362.972118,362.404080,287.150356
Gumbel,344.654500,350.622006,382.103202,457.487925,403.246052,382.161805,355.870656,448.142229,347.214346,294.431632,...,250.577280,360.175804,336.505037,378.746921,342.414006,425.799872,396.480946,319.073775,397.484245,336.046832
Plackett,350.187111,385.631065,415.513014,458.180293,440.564471,433.074227,407.484607,447.210787,383.742215,307.606388,...,373.607228,412.867582,373.147606,410.312769,381.439866,433.715198,417.240658,387.091903,420.535911,373.982000
Gauss Mix Indep,373.091264,417.473229,430.472699,487.317459,425.136515,407.620569,410.300652,480.742487,415.414202,320.493588,...,315.545199,421.686898,401.778384,441.081725,411.804529,440.118276,449.263016,407.764439,449.152425,404.413891
NIG,385.614334,432.882844,454.126238,506.040057,550.811592,510.516748,449.452295,498.549415,433.442642,383.127835,...,457.747645,459.140427,421.453019,449.612564,428.235693,450.974193,486.352171,464.497900,456.681856,422.405861