In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import requests
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF
from functools import partial

/Users/francis/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [36]:
coin_name = 'CRIX'
# data_name = 'BBT_future_Tiingo_%s'%coin_name
data_name = 'BBT_future_%s'%coin_name

train_size = 300
test_size = 5
step_size = 5

future_brr = pd.read_csv('../../data/cleaned_data/%s.csv'%data_name)
print(data_name)

BBT_future_CRIX

In [37]:
future_brr = future_brr.iloc[:,1:]

In [38]:
future_brr.tail()

,Date,PX_LAST,contract_name,CRIX Price,log return future,log return CRIX
743,2018-06-08 20:00:00+00:00,7675.0,BTCN18 Curncy,1049.023655,-0.005846,-0.003306
744,2018-06-07 20:00:00+00:00,7720.0,BTCN18 Curncy,1052.497881,0.022267,0.004723
745,2018-06-06 20:00:00+00:00,7550.0,BTCN18 Curncy,1047.538361,-0.012504,-0.006511
746,2018-06-05 20:00:00+00:00,7645.0,BTCN18 Curncy,1054.380695,0.017151,0.018149
747,2018-06-04 20:00:00+00:00,7515.0,BTCN18 Curncy,1035.417556,0.007346,0.044359

In [39]:
import os

try:
    os.listdir('../../processed_data/%s/'%data_name)

except:
    print('create new folder')
    os.mkdir('../../processed_data/%s/'%data_name)
    os.mkdir('../../processed_data/%s/train'%data_name)
    os.mkdir('../../processed_data/%s/test'%data_name)

create new folder

In [40]:
# n = int(np.floor((len(future_brr)-train_size)/step_size))
n = int(np.floor((len(future_brr) - train_size - test_size)/step_size))
train_set = []
test_set = []

for i in range(n):
    data = future_brr.iloc[(i*step_size):((i)*step_size)+train_size+test_size]
    test = data.iloc[:test_size,]
    train = data.iloc[test_size:,]
    train_set.append(train)
    test_set.append(test)

for i in range(len(train_set)):
    train_set[i].to_csv("../../processed_data/%s/train/" %data_name +str(i)+".csv")
    test_set[i].to_csv("../../processed_data/%s/test/" %data_name +str(i)+".csv")

In [41]:
test_set[0].head()

,Date,PX_LAST,contract_name,CRIX Price,log return future,log return CRIX
0,2021-05-27 20:00:00+00:00,38865.0,BTCM1 Curncy,4196.136061,0.006583,-0.015700
1,2021-05-26 20:00:00+00:00,38610.0,BTCM1 Curncy,4262.536211,0.032643,0.053698
2,2021-05-25 20:00:00+00:00,37370.0,BTCM1 Curncy,4039.685323,-0.062245,-0.031494
3,2021-05-24 20:00:00+00:00,39770.0,BTCM1 Curncy,4168.935191,0.094330,0.109357
4,2021-05-21 20:00:00+00:00,36190.0,BTCM1 Curncy,3737.075707,-0.108809,-0.157647

In [42]:
train_set[0].head()

,Date,PX_LAST,contract_name,CRIX Price,log return future,log return CRIX
5,2021-05-20 20:00:00+00:00,40350.0,BTCM1 Curncy,4375.193988,0.021291,0.061102
6,2021-05-19 20:00:00+00:00,39500.0,BTCM1 Curncy,4115.865144,-0.090465,-0.192109
7,2021-05-18 20:00:00+00:00,43240.0,BTCM1 Curncy,4987.615421,-0.019694,-0.023694
8,2021-05-17 20:00:00+00:00,44100.0,BTCM1 Curncy,5107.202633,-0.131645,-0.092982
9,2021-05-14 20:00:00+00:00,50305.0,BTCM1 Curncy,5604.857771,0.036850,0.020290

In [43]:
train_set[0].tail()

,Date,PX_LAST,contract_name,CRIX Price,log return future,log return CRIX
300,2020-03-12 20:00:00+00:00,6035.0,BTCJ20 Curncy,484.231946,-0.269920,-0.329707
301,2020-03-11 20:00:00+00:00,7905.0,BTCJ20 Curncy,673.353684,-0.017555,-0.021859
302,2020-03-10 20:00:00+00:00,8045.0,BTCJ20 Curncy,688.234682,0.018188,0.018979
303,2020-03-09 20:00:00+00:00,7900.0,BTCJ20 Curncy,675.296145,-0.159381,-0.162243
304,2020-03-06 21:00:00+00:00,9265.0,BTCJ20 Curncy,794.246630,-0.000540,0.009232

In [44]:
test_set[1].head()

,Date,PX_LAST,contract_name,CRIX Price,log return future,log return CRIX
5,2021-05-20 20:00:00+00:00,40350.0,BTCM1 Curncy,4375.193988,0.021291,0.061102
6,2021-05-19 20:00:00+00:00,39500.0,BTCM1 Curncy,4115.865144,-0.090465,-0.192109
7,2021-05-18 20:00:00+00:00,43240.0,BTCM1 Curncy,4987.615421,-0.019694,-0.023694
8,2021-05-17 20:00:00+00:00,44100.0,BTCM1 Curncy,5107.202633,-0.131645,-0.092982
9,2021-05-14 20:00:00+00:00,50305.0,BTCM1 Curncy,5604.857771,0.036850,0.020290

In [45]:
train_set[-1].tail()

,Date,PX_LAST,contract_name,CRIX Price,log return future,log return CRIX
735,2018-06-20 20:00:00+00:00,6765.0,BTCN18 Curncy,902.014498,0.001479,0.003689
736,2018-06-19 20:00:00+00:00,6755.0,BTCN18 Curncy,898.693326,0.006684,0.003167
737,2018-06-18 20:00:00+00:00,6710.0,BTCN18 Curncy,895.851373,0.023371,0.032608
738,2018-06-15 20:00:00+00:00,6555.0,BTCN18 Curncy,867.110737,-0.014389,-0.035230
739,2018-06-14 20:00:00+00:00,6650.0,BTCN18 Curncy,898.203110,0.054861,0.077509

In [46]:
len(train_set)

88