In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import requests
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF
from functools import partial

/Users/francis/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [46]:
coin_name = 'ETH'
data_name = 'BBT_future_Tiingo_%s'%coin_name

train_size = 300
test_size = 5
step_size = 5

future_brr = pd.read_csv('../../data/cleaned_data/%s.csv'%data_name)
print(data_name)

BBT_future_Tiingo_ETH

In [47]:
future_brr = future_brr.iloc[:,1:]

In [48]:
future_brr.tail()

,Date,PX_LAST,contract_name,ETH Price,log return future,log return ETH
863,2017-12-22 21:00:00+00:00,14135.0,BTCF18 Curncy,688.301337,-0.081158,-0.105301
864,2017-12-21 21:00:00+00:00,15330.0,BTCF18 Curncy,764.733561,-0.105752,-0.053847
865,2017-12-20 21:00:00+00:00,17040.0,BTCF18 Curncy,807.041275,-0.065858,-0.022307
866,2017-12-19 21:00:00+00:00,18200.0,BTCF18 Curncy,825.246103,-0.048267,0.065025
867,2017-12-18 21:00:00+00:00,19100.0,BTCF18 Curncy,773.292040,-0.020726,0.122195

In [50]:
import os

try:
    os.listdir('../../processed_data/%s/'%data_name)

except:
    print('create new folder')
    os.mkdir('../../processed_data/%s/'%data_name)
    os.mkdir('../../processed_data/%s/train'%data_name)
    os.mkdir('../../processed_data/%s/test'%data_name)

create new folder

In [51]:
# n = int(np.floor((len(future_brr)-train_size)/step_size))
n = int(np.floor((len(future_brr) - train_size - test_size)/step_size))
train_set = []
test_set = []

for i in range(n):
    data = future_brr.iloc[(i*step_size):((i)*step_size)+train_size+test_size]
    test = data.iloc[:test_size,]
    train = data.iloc[test_size:,]
    train_set.append(train)
    test_set.append(test)

for i in range(len(train_set)):
    train_set[i].to_csv("../../processed_data/%s/train/" %data_name +str(i)+".csv")
    test_set[i].to_csv("../../processed_data/%s/test/" %data_name +str(i)+".csv")

In [52]:
test_set[0].head()

,Date,PX_LAST,contract_name,ETH Price,log return future,log return ETH
0,2021-05-27 20:00:00+00:00,38865.0,BTCM1 Curncy,2759.458575,0.006583,0.006472
1,2021-05-26 20:00:00+00:00,38610.0,BTCM1 Curncy,2741.657789,0.032643,0.086846
2,2021-05-25 20:00:00+00:00,37370.0,BTCM1 Curncy,2513.600836,-0.062245,-0.053897
3,2021-05-24 20:00:00+00:00,39770.0,BTCM1 Curncy,2652.794465,0.094330,0.121034
4,2021-05-21 20:00:00+00:00,36190.0,BTCM1 Curncy,2350.385286,-0.108809,-0.169576

In [53]:
train_set[0].head()

,Date,PX_LAST,contract_name,ETH Price,log return future,log return ETH
5,2021-05-20 20:00:00+00:00,40350.0,BTCM1 Curncy,2784.741149,0.021291,0.068794
6,2021-05-19 20:00:00+00:00,39500.0,BTCM1 Curncy,2599.608656,-0.090465,-0.269777
7,2021-05-18 20:00:00+00:00,43240.0,BTCM1 Curncy,3404.634183,-0.019694,0.007677
8,2021-05-17 20:00:00+00:00,44100.0,BTCM1 Curncy,3378.596933,-0.131645,-0.181020
9,2021-05-14 20:00:00+00:00,50305.0,BTCM1 Curncy,4049.040987,0.036850,0.103942

In [54]:
train_set[0].tail()

,Date,PX_LAST,contract_name,ETH Price,log return future,log return ETH
300,2020-03-20 20:00:00+00:00,6230.0,BTCJ20 Curncy,131.235790,-0.006400,-0.037210
301,2020-03-19 20:00:00+00:00,6270.0,BTCJ20 Curncy,136.211037,0.159615,0.158824
302,2020-03-18 20:00:00+00:00,5345.0,BTCJ20 Curncy,116.208007,-0.012088,-0.011419
303,2020-03-17 20:00:00+00:00,5410.0,BTCJ20 Curncy,117.542557,0.089872,0.066011
304,2020-03-16 20:00:00+00:00,4945.0,BTCJ20 Curncy,110.034040,-0.083382,-0.156618

In [55]:
test_set[1].head()

,Date,PX_LAST,contract_name,ETH Price,log return future,log return ETH
5,2021-05-20 20:00:00+00:00,40350.0,BTCM1 Curncy,2784.741149,0.021291,0.068794
6,2021-05-19 20:00:00+00:00,39500.0,BTCM1 Curncy,2599.608656,-0.090465,-0.269777
7,2021-05-18 20:00:00+00:00,43240.0,BTCM1 Curncy,3404.634183,-0.019694,0.007677
8,2021-05-17 20:00:00+00:00,44100.0,BTCM1 Curncy,3378.596933,-0.131645,-0.181020
9,2021-05-14 20:00:00+00:00,50305.0,BTCM1 Curncy,4049.040987,0.036850,0.103942

In [56]:
train_set[-1].tail()

,Date,PX_LAST,contract_name,ETH Price,log return future,log return ETH
855,2018-01-05 21:00:00+00:00,16580.0,BTCG18 Curncy,966.378009,0.103151,0.019022
856,2018-01-04 21:00:00+00:00,14955.0,BTCG18 Curncy,948.168870,-0.005003,0.039586
857,2018-01-03 21:00:00+00:00,15030.0,BTCG18 Curncy,911.367437,0.006341,0.059143
858,2018-01-02 21:00:00+00:00,14935.0,BTCG18 Curncy,859.029650,0.030249,0.157358
859,2017-12-29 21:00:00+00:00,14490.0,BTCG18 Curncy,733.953641,0.052784,0.047758