In [48]:
import pandas as pd
import numpy as np
from scipy import stats
import requests
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF
from functools import partial

In [49]:
# coin_name = 'eth'
# data_name = 'BBT_future_Tiingo_%s'%coin_name


coin_name = 'BITW70'
data_name = 'BBT_future_%s'%coin_name


train_size = 300
test_size = 5
step_size = 5

future_brr = pd.read_csv('../../data/cleaned_data/%s.csv'%data_name)
print(data_name)

BBT_future_BITW70

In [50]:
future_brr = future_brr.iloc[:,1:]

In [51]:
future_brr.tail()

,Date,PX_LAST,contract_name,BITW70 Price,% Change,log return future,log return BITW70
708,2018-08-07 20:00:00+00:00,6975.0,BTCU18 Curncy,16666.08,1.30%,0.007194,0.012905
709,2018-08-06 20:00:00+00:00,6925.0,BTCU18 Curncy,16452.38,-5.12%,-0.061601,-0.078759
710,2018-08-03 20:00:00+00:00,7365.0,BTCU18 Curncy,17800.55,1.18%,-0.021492,0.011744
711,2018-08-02 20:00:00+00:00,7525.0,BTCU18 Curncy,17592.72,0.82%,-0.001991,0.008152
712,2018-08-01 20:00:00+00:00,7540.0,BTCU18 Curncy,17449.88,-2.86%,-0.024240,-0.029046

In [52]:
import os

try:
    os.listdir('../../processed_data/%s/'%data_name)

except:
    print('create new folder')
    os.mkdir('../../processed_data/%s/'%data_name)
    os.mkdir('../../processed_data/%s/train'%data_name)
    os.mkdir('../../processed_data/%s/test'%data_name)

create new folder

In [53]:
# n = int(np.floor((len(future_brr)-train_size)/step_size))
n = int(np.floor((len(future_brr) - train_size - test_size)/step_size))
train_set = []
test_set = []

for i in range(n):
    data = future_brr.iloc[(i*step_size):((i)*step_size)+train_size+test_size]
    test = data.iloc[:test_size,]
    train = data.iloc[test_size:,]
    train_set.append(train)
    test_set.append(test)

for i in range(len(train_set)):
    train_set[i].to_csv("../../processed_data/%s/train/" %data_name +str(i)+".csv")
    test_set[i].to_csv("../../processed_data/%s/test/" %data_name +str(i)+".csv")

In [54]:
test_set[0].head()

,Date,PX_LAST,contract_name,BITW70 Price,% Change,log return future,log return BITW70
0,2021-05-27 20:00:00+00:00,38865.0,BTCM1 Curncy,61416.15,0.49%,0.006583,0.004871
1,2021-05-26 20:00:00+00:00,38610.0,BTCM1 Curncy,61117.70,13.96%,0.032643,0.130679
2,2021-05-25 20:00:00+00:00,37370.0,BTCM1 Curncy,53630.77,-5.77%,-0.062245,-0.059414
3,2021-05-24 20:00:00+00:00,39770.0,BTCM1 Curncy,56913.74,37.75%,0.094330,0.023283
4,2021-05-21 20:00:00+00:00,36190.0,BTCM1 Curncy,55603.90,-16.38%,-0.108809,-0.178868

In [55]:
train_set[0].head()

,Date,PX_LAST,contract_name,BITW70 Price,% Change,log return future,log return BITW70
5,2021-05-20 20:00:00+00:00,40350.0,BTCM1 Curncy,66494.64,3.56%,0.021291,0.034986
6,2021-05-19 20:00:00+00:00,39500.0,BTCM1 Curncy,64208.51,-27.64%,-0.090465,-0.323453
7,2021-05-18 20:00:00+00:00,43240.0,BTCM1 Curncy,88729.16,3.52%,-0.019694,0.034551
8,2021-05-17 20:00:00+00:00,44100.0,BTCM1 Curncy,85715.81,-0.35%,-0.131645,-0.109017
9,2021-05-14 20:00:00+00:00,50305.0,BTCM1 Curncy,95588.71,8.73%,0.036850,0.083678

In [56]:
train_set[0].tail()

,Date,PX_LAST,contract_name,BITW70 Price,% Change,log return future,log return BITW70
300,2020-03-20 20:00:00+00:00,6230.0,BTCJ20 Curncy,3556.45,-4.39%,-0.006400,-0.044886
301,2020-03-19 20:00:00+00:00,6270.0,BTCJ20 Curncy,3719.72,19.03%,0.159615,0.174179
302,2020-03-18 20:00:00+00:00,5345.0,BTCJ20 Curncy,3125.11,0.61%,-0.012088,0.006047
303,2020-03-17 20:00:00+00:00,5410.0,BTCJ20 Curncy,3106.27,9.27%,0.089872,0.088661
304,2020-03-16 20:00:00+00:00,4945.0,BTCJ20 Curncy,2842.72,-10.42%,-0.083382,-0.088755

In [57]:
test_set[1].head()

,Date,PX_LAST,contract_name,BITW70 Price,% Change,log return future,log return BITW70
5,2021-05-20 20:00:00+00:00,40350.0,BTCM1 Curncy,66494.64,3.56%,0.021291,0.034986
6,2021-05-19 20:00:00+00:00,39500.0,BTCM1 Curncy,64208.51,-27.64%,-0.090465,-0.323453
7,2021-05-18 20:00:00+00:00,43240.0,BTCM1 Curncy,88729.16,3.52%,-0.019694,0.034551
8,2021-05-17 20:00:00+00:00,44100.0,BTCM1 Curncy,85715.81,-0.35%,-0.131645,-0.109017
9,2021-05-14 20:00:00+00:00,50305.0,BTCM1 Curncy,95588.71,8.73%,0.036850,0.083678

In [58]:
train_set[-1].tail()

,Date,PX_LAST,contract_name,BITW70 Price,% Change,log return future,log return BITW70
700,2018-08-17 20:00:00+00:00,6480.0,BTCU18 Curncy,12275.32,12.64%,0.010861,0.118991
701,2018-08-16 20:00:00+00:00,6410.0,BTCU18 Curncy,10898.22,2.96%,0.006260,0.029152
702,2018-08-15 20:00:00+00:00,6370.0,BTCU18 Curncy,10585.10,-4.90%,0.047417,-0.050235
703,2018-08-14 20:00:00+00:00,6075.0,BTCU18 Curncy,11130.42,-0.97%,-0.025194,-0.009790
704,2018-08-13 20:00:00+00:00,6230.0,BTCU18 Curncy,11239.92,-11.96%,-0.026140,-0.193346

In [59]:
len(train_set)

81

In [64]:
-2*1.6+2*np.log(300)

8.207564949312403

In [65]:
-2*1.5+1*np.log(300)

2.703782474656201

In [66]:
-2*1.6+2*2

0.7999999999999998

In [69]:
-2*0.01+2

1.98